@use '../variables.scss' as *;

.btn-xs {
    padding: 0.6rem 1.75rem;
    border-radius: 0.25rem;
}

.btn-sm {
    padding: 0.8rem 2rem;
    border-radius: 0.25rem;
}

.btn-md {
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
}

.btn-lg {
    padding: 1.5rem 3rem;
    border-radius: 1rem;
}

$btn-colors: (
    "btn-primary": $color-primary,
    "btn-primary-darker": $color-primary-darker,
    "btn-secondary": $color-secondary,
    "btn-tertiary": $color-tertiary,
    "btn-white": $color-white,
    "btn-black": $color-black
);

.btn {
    @each $key, $value in $btn-colors {
        &.#{$key} {
            &.btn-filled {
                background-color: $value;
            }

            &.btn-outline {
                outline: 4px solid $value;
                outline-offset: -4px;
                background-color: transparent;
            }
        }
    }
}
