---
---

<section class="flex flex-center height-fill height-sm">
    <div class="sc flex flex-col flex-center gap-200">
        <form class="flex flex-col align-start gap-200">
            <div class="form-group flex flex-col align-start gap-50 width-fill">
                <labal class="text text-md text-secondary" for="id_name">Name</labal>
                <input type="text" name="id_name" id="id_name" class="width-fill br-50 text text-md text-secondary" required>
            </div>
            <div class="form-group flex flex-col align-start gap-50 width-fill">
                <labal class="text text-md text-secondary" for="id_email">Email</labal>
                <input type="email" name="id_email" id="id_email" class="width-fill br-50 text text-md text-secondary" required>
            </div>
            <div class="form-group flex flex-col align-start gap-50 width-fill">
                <labal class="text text-md text-secondary" for="id_message">Message</labal>
                <textarea name="id_message" id="id_message" class="width-fill br-50 text text-md text-secondary" required></textarea>
            </div>
            <button type="submit" class="contact-submit-btn btn btn-md btn-tertiary btn-outline text-md text-tertiary width-fill flex-center">Send Message</button>
        </form>
        <div class="info-container flex flex-col flex-center gap-100">
            <div class="text-container flex flex-row gap-50 justify-start align-center">
                <div class="icon-container text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3.879 5.879C3 6.757 3 8.172 3 11v2c0 2.828 0 4.243.879 5.121C4.757 19 6.172 19 9 19h6c2.828 0 4.243 0 5.121-.879C21 17.243 21 15.828 21 13v-2c0-2.828 0-4.243-.879-5.121C19.243 5 17.828 5 15 5H9c-2.828 0-4.243 0-5.121.879m2.676 2.289a1 1 0 0 0-1.11 1.664l5.446 3.63a2 2 0 0 0 2.218 0l5.446-3.63a1 1 0 0 0-1.11-1.664L12 11.798z" clip-rule="evenodd"/></svg>
                </div>
                <p class="text text-md text-secondary">contact@bespokefloorsanding.ie</p>
            </div>
            <div class="text-container flex flex-row gap-50 justify-start align-center call-number">
                <div class="icon-container text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.963 18.855a2.74 2.74 0 0 1-.898 1.47a5.36 5.36 0 0 1-3.848 1.602h-.358a11.4 11.4 0 0 1-4.287-1.082c-.326-.153-.643-.296-1.02-.47A19.8 19.8 0 0 1 7.253 17.1a18.6 18.6 0 0 1-4.012-5.451A11.9 11.9 0 0 1 2.15 8.106a6.5 6.5 0 0 1 .418-3.808a7 7 0 0 1 1.174-1.48a2.3 2.3 0 0 1 1.634-.745a2.54 2.54 0 0 1 1.725.95c.47.52 1.02 1.02 1.52 1.55l.644.634c.38.333.615.802.653 1.306c.001.464-.17.911-.48 1.256a9 9 0 0 1-.622.694l-.215.225a1.15 1.15 0 0 0-.286.418c-.052.154-.07.318-.05.48c.164.444.421.848.755 1.184c.52.704 1.02 1.317 1.582 2.042a13.3 13.3 0 0 0 3.4 2.807c.123.1.27.167.428.194c.14.021.281 0 .408-.062a3.5 3.5 0 0 0 1.021-.826c.36-.444.882-.726 1.45-.787a2.04 2.04 0 0 1 1.46.623q.35.302.663.643l.306.327l.317.306c.193.194.377.368.56.572q.5.43.93.929c.293.374.441.842.418 1.317"/></svg>
                </div>
                <p class="text text-md text-secondary">+353 87 402 7101</p>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    form {
        width: 600px;

        label {
            font-weight: 600;
        }

        input, textarea {
            background-color: var(--color-primary-darker);
            border-bottom: 4px solid var(--color-secondary);
            outline-offset: -4px;
            padding: 0.5rem;
        }

        textarea {
            resize: none;
            overflow: none;
            field-sizing: content;
            min-height: 4lh;
        }

        textarea {
            scrollbar-width: none;
            -ms-overflow-style: none; 
        }

        textarea::-webkit-scrollbar {
            display: none;
        }
    }

    .info-container {
        .text {
            font-weight: 600;
        }
    }

    .icon-container {
        width: 2rem;
        height: 2rem;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let contactSubmitBtn = document.querySelector(".contact-submit-btn");

        contactSubmitBtn?.addEventListener("click", (e) => {
            e.preventDefault();
            navigator.clipboard.writeText("contact@bespokefloorsanding.ie");
            alert("Something went wrong! Please send us your message to 'contact@bespokefloorsanding.ie' (We have copied it for you) Or alternatively give us a call - +353 87 402 7101");
        });
    });
</script>