.text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

.text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}

.text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-family: var(--ff-heading);
    font-weight: 800;
}

.text-2xl {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    font-family: var(--ff-heading);
    font-weight: 800;
}

$text-colors: (
    "text-primary": var(--color-primary),
    "text-primary-darker": var(--color-primary-darker),
    "text-primary-alt": var(--color-primary-alt),
    "text-secondary": var(--color-secondary),
    "text-tertiary": var(--color-tertiary),
    "text-white": var(--color-white),
    "text-black": var(--color-black)
);

@each $key, $value in $text-colors {
    .#{$key} {
        color: $value;

        path {
            fill: $value;
        }
    }
}