@use './functions.scss' as *;
@use './variables.scss' as *;

// Color

$colors: (
    "color-primary": $primary-color,
    "color-primary-darker": $darker-primary-color,
    "color-secondary": $secondary-color,
    "color-tertiary": $tertiary-color,
    "color-white": $white-color,
    "color-black": $black-color
);

$color-props: (
    "color": "f",
    "background-color": "bg",
    "outline-color": "o",
    "border-color": "b"
);

@each $prop, $abr in $color-props {
    @each $key, $value in $colors {
        .#{$abr}-#{$key} {
            #{$prop}: $value;
        }
    }
}

// Size Scale

$size-scale: (
    25: 0.25rem,
    50: 0.5rem,
    75: 0.75rem,
    100: 1rem,
    125: 1.25rem,
    150: 1.5rem,
    175: 1.75rem,
    200: 2rem,
    250: 2.5rem,
    300: 3rem,
    350: 3.5rem,
    400: 4rem
);

// Size Props

$size-props: (
    "font-size",
    "padding",
    "padding-top",
    "padding-bottom",
    "padding-right",
    "padding-left",
    "line-height",
    "border-radius",
    "border-top-right-radius",
    "border-top-left-radius",
    "border-bottom-right-radius",
    "border-bottom-left-radius",
    "gap"
);

@each $prop in $size-props {
    $short-prop: abbreviation($prop);

    @each $key, $value in $size-scale {
        .#{$short-prop}-#{$key} {
            #{$prop}: $value;
        }
    }
}

// Flex

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

// Width

.w-sm {
    width: 300px;
}

.w-md {
    width: 400px;
}

.w-lg {
    width: 600px;
}

.w-xl {
    width: 800px;
}

.w-full {
    width: 100%;
}
