// Fonts Import
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    // Colors
    --color-primary: oklch(93.26% 0.0225 73.02);
    --color-primary-darker: oklch(89.88% 0.034 72.89);
    --color-primary-alt: oklch(53.59% 0.0503 71.91);
    --color-secondary: oklch(23.14% 0.0302 70.98);
    --color-tertiary: oklch(40.19% 0.1252 256.42);
    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);

    // Font Families
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Roboto', sans-serif;
    --ff-logo: 'EB Garamond', sans-serif;

    // Base Font Size
    --fs-base: 16px;

    // Widths & Heights
    --height-header: 120px;
    --width-sc: 1440px;
}