// Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    // Colors
    --color-primary: oklch(0.89 0.05 85);
    --color-primary-darker: oklch(0.85 0.05 85);
    --color-secondary: oklch(0.22 0.05 85);
    --color-tertiary: oklch(0.35 0.13 265);
    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);

    // Font Families
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Roboto', sans-serif;

    // Base Font Size
    --fs-base: 16px;
}

$color-primary: var(--color-primary);
$color-primary-darker: var(--color-primary-darker);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-white: var(--color-white);
$color-black: var(--color-black);

$ff-body: var(--ff-body);
$ff-heading: var(--ff-heading);

$fs-base: var(--fs-base);