---
import '../styles/global.scss'
---

<div class="flex flex-row g-400 align-items-center justify-content-center">
	<div class="flex flex-col g-100 align-items-start justify-content-center p-100 br-50 bg-color-tertiary">
		<p class="fs-150 f-color-primary">Test 1</p>
		<p class="fs-150 f-color-primary">Test 2</p>
	</div>

	<div class="flex flex-col g-100 align-items-start justify-content-center p-100 br-50 bg-color-tertiary">
		<p class="fs-150 f-color-primary">Test 3</p>
		<p class="fs-150 f-color-primary">Test 4</p>
	</div>
</div>
