---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="height-fill flex flex-center">
        <h2 class="text text-secondary text-2xl">Under Construction</h2>
    </section>
</BaseLayout>