---
---

<a href="/home" class="flex flex-row align-center">
    <img src="/src/assets/bespoke-floor-sanding-logo-transparent.png" alt="Bespoke Floor Sanding Logo">
    <h1>Bespoke Floor <br>Sanding Co.</h1>
</a>

<style lang="scss">
    a {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-family: var(--ff-logo);
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 500;
    }
</style>