---
---

<nav class="flex flex-row flex-center">
    <slot />
</nav>

<style lang="scss">
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
</style>