---
interface Props {
    height?: "sm" | "md" | "fill";
}

const { height = "md" } = Astro.props;
---

<section class=`height-${height}`>
    <slot />
</section>

<style lang="scss">
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .height-sm {
        padding: 60px 0;
    }

    .height-md {
        padding: 100px 0;
    }

    .height-fill {
        min-height: calc(100vh - var(--height-header));
    }
</style>