---
interface Props {
    direction?: "row" | "col";
    sectionFill?: "fill" | "nofill";
}

const { direction = "row", sectionFill = "nofill" } = Astro.props;
---
<div class=`section-container ${direction} ${sectionFill}`>
    <slot />
</div>

<style lang="scss">
    div {
        width: var(--width-sc);
        display: flex;
    }
    
    .col {
        flex-direction: column;
        gap: 2.5rem;
    }

    .row {
        justify-content: space-between;
    }

    .fill {
        margin-bottom: var(--height-header);
    }
</style>