---
import '/src/styles/layouts/home/cta.scss';
import { Image } from 'astro:assets';
import img1 from '/src/assets/finished-floor-room-1.png';
import img2 from '/src/assets/finished-floor-room-2.png';

interface Props {
  type: string;
}

const { type } = Astro.props;

let img;

if (type == "1") {
  img = img1;
} else {
  img = img2;
}
---

<section class=`cta-section type-${type} flex flex-center height-md`>
    <div class="sc flex">
        <div class="img-container pos-relative o-hidden br-150">
            <Image src={img} alt="Finsihed Wooden Floor Room"></Image>
            <div class="overlay pos-absolute"></div>
            <div class="text-container flex flex-col align-start gap-150 pos-absolute">
                <h2 class="text text-white text-xl">Give Us A Call Now!</h2>
                <p class="text text-white text-md">
                    Don't hesitate, any questions, find them out with a quick call. <br>
                    <span class="desktop-only">Make you're floors something to be proud of - </span><span class="call-number">+353 87 402 7101</span>
                </p>
                <a href="/contact" class="btn btn-tertiary btn-sm btn-filled text-white text-sm call-number">
                    Call Us Now
                </a>
            </div>
        </div>
    </div>
</section>