---
import { Image } from 'astro:assets';
import img1 from '/src/assets/floor-sanding-machine-hero.png';
import '/src/styles/layouts/home/hero.scss';
---
<section class="home-hero-section flex flex-center height-fill height-sm">
    <div class="sc flex flex-row justify-between">
        <div class="tc flex flex-col align-start gap-250">
            <h2 class="text text-secondary text-2xl">
                Premium Floor Sanding <br>
                By Trusted Experts
            </h2>
            <h3 class="text text-secondary text-lg">
                With unmatched quality, precision, and <br> 
                care, we restore the beauty of your <br> 
                wooden floors to perfection
            </h3>
            <a href="/contact" class="btn btn-md btn-tertiary text-white btn-filled call-number">Get Free Quote</a>
        </div>
        <div class="img-container flex br-150 o-hidden">
            <Image src={img1} alt="Bespoke Floor Sanding Machine"></Image>
        </div>
    </div>
</section>