---
---
<section class="flex flex-center height-fill">
    <div class="sc flex flex-row justify-between">
        <div class="flex flex-col align-start gap-250">
            <h2 class="text text-secondary text-2xl">
                Premium Floor Sanding <br>
                By Trusted Experts
            </h2>
            <h3 class="text text-secondary text-lg">
                With unmatched quality, precision, and <br> 
                care, we restore the beauty of your <br> 
                wooden floors to perfection
            </h3>
            <a href="#" class="btn btn-md btn-tertiary text-white btn-filled">Get Free Quote</a>
        </div>
        <div class="img-container flex br-150 o-hidden">
            <img src="/src/assets/floor-sanding-machine-hero.png" alt="Floor Sanding Machine Hero">
        </div>
    </div>
</section>

<style lang="scss">
    .img-container {
        width: 500px;
        height: 500px;
    }
</style>