---
---

<section class="flex flex-center height-sm">
    <div class="sc flex">
        <div class="cards-container flex flex-row gap-250 width-fill">
            <div class="card flex flex-col flex-center gap-25 bg-primary-darker br-100">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <h2 class="text text-md text-secondary">Reliable &amp; Trusted</h2>
            </div>
            <div class="card flex flex-col flex-center gap-25 bg-primary-darker br-100">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <h2 class="text text-md text-secondary">Reliable &amp; Trusted</h2>
            </div>
            <div class="card flex flex-col flex-center gap-25 bg-primary-darker br-100">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <h2 class="text text-md text-secondary">Reliable &amp; Trusted</h2>
            </div>
            <div class="card flex flex-col flex-center gap-25 bg-primary-darker br-100">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <h2 class="text text-md text-secondary">Reliable &amp; Trusted</h2>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .card {
        width: calc((100% - (2.5rem * 3)) / 4);
        padding: 2rem 0;

        .icon-container {
            width: 3rem;
            height: 3rem;

            .tmp-icon {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: black;
            }
        }
    }
</style>