---
import '../styles/global.scss';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header></Header>
    <main>
        <slot />
    </main>
    <Footer></Footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let callNumbers = document.querySelectorAll(".call-number");
            let isMobile = /Mobi|Android|iPhone/i.test(navigator.userAgent);

            callNumbers.forEach((callNumber) => {
                callNumber.addEventListener("click", () => {
                        if (isMobile) {
                            window.location.href = "tel:+353874027101";
                        }
                        window.location.href = "/contact";
                });
            });

        });
    </script>
</body>
</html>