---
---

<footer class="flex flex-center bg-secondary">
    <div class="sc flex justify-between">
        <div class="nav-container flex flex-row gap-300 flex-center">
            <a href="/" class="logo flex flex-row align-center">
                <img src="/src/assets/bespoke-floor-sanding-logo-transparent.png" alt="Bespoke Floor Sanding Logo">
            </a>
    
            <nav class="flex flex-row align-center gap-200">
                <a href="/" class="text-md text-white">Home</a>
                <div class="div"></div>
                <a href="/services" class="text-md text-white">Services</a>
                <div class="div"></div>
                <a href="/contact" class="text-md text-white">Contact</a>
                <div class="div"></div>
                <a href="/contact" class="text-md text-white">Call Us</a>
            </nav>
        </div>
        <div class="info-container flex-flex-col gap-50 align-start">
            <div class="text-container flex flex-row gap-75 justify-start align-center">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <p class="text text-md text-white">contact@bespokefloorsanding.ie</p>
            </div>
            <div class="text-container flex flex-row gap-75 justify-start align-center">
                <div class="icon-container">
                    <div class="tmp-icon"></div>
                </div>
                <p class="text text-md text-white">+353 87 333 3333</p>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    footer {
        padding: 40px 0;

        .sc {
            width: var(--width-sc);
        }
    }

    img {
        width: 80px;
        height: 80px;
    }

    .div {
        height: 1.5rem;
        width: 2px;
        background-color: var(--color-white);
    }

    .icon-container {
        width: 2rem;
        height: 2rem;

        .tmp-icon {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: white;
        }
    }

</style>