---
import { Image } from 'astro:assets';
import img1 from '/src/assets/bespoke-floor-sanding-logo-transparent.png';
import '/src/styles/layouts/header.scss';
---

<header class="flex flex-center bg-secondary pos-relative">
    <div class="sc flex align-center justify-between">
        <a href="/" class="logo flex flex-row align-center">
            <Image src={img1} alt="Bespoke Floor Sanding Logo"></Image>
            <h1>Bespoke Floor <br>Sanding Co.</h1>
        </a>

        <div class="nav-btn flex flex-col">
            <div class="nav-btn-bar b1"></div>
            <div class="nav-btn-bar b2"></div>
            <div class="nav-btn-bar b3"></div>
        </div>

        <nav class="nav-menu flex flex-row align-center gap-200">
            <a href="/" class="text-sm text-white">Home</a>
            <a href="/services" class="text-sm text-white">Services</a>
            <a href="/contact" class="text-sm text-white">Contact</a>
            <a href="/contact" class="btn btn-sm text-white btn-tertiary btn-filled call-number">Get Free Quote</a>
        </nav>
    </div>
</header>

<script>
    const navBtn = document.querySelector(".nav-btn");
    const navMenu = document.querySelector(".nav-menu");

    navBtn?.addEventListener("click", () => {
        navMenu?.classList.toggle("active");
        navBtn.classList.toggle("active");
    });
</script>

