---
---

<header class="flex flex-center bg-secondary">
    <div class="sc flex justify-between">
        <a href="/" class="logo flex flex-row align-center">
            <img src="/src/assets/bespoke-floor-sanding-logo-transparent.png" alt="Bespoke Floor Sanding Logo">
            <h1>Bespoke Floor <br>Sanding Co.</h1>
        </a>

        <nav class="flex flex-row align-center gap-200">
            <a href="/" class="text-sm text-white">Home</a>
            <a href="/services" class="text-sm text-white">Services</a>
            <a href="/contact" class="text-sm text-white">Contact</a>
            <a href="/contact" class="btn btn-sm text-white btn-tertiary btn-filled call-number">Get Free Quote</a>
        </nav>
    </div>
</header>

<style lang="scss">
    header {
        height: var(--height-header);

        .sc {
            width: var(--width-sc);
        }
    }

    .logo {
        gap: 1rem;
    }

    img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-family: var(--ff-logo);
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 500;
    }
</style>