---
import SectionContainer from "../components/SectionContainer.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Image from "../components/Image.astro";
---

<Section height="fill">
    <SectionContainer direction="row" sectionFill="fill">
        <Container direction="col" align="start" gap="lg">
            <Text size="2xl" color="secondary" type="heading">
                Premium Floor Sanding <br>
                By Trusted Experts
            </Text>
            <Text size="lg" color="secondary" type="subheading">
                With unmatched quality, precision, and <br> 
                care, we restore the beauty of your <br> 
                wooden floors to perfection
            </Text>
            <Button size="lg" color="white" bgColor="tertiary" fill="filled" type="link" url="#">
                Get Free Quote
            </Button>
        </Container>
        <Image src="/src/assets/floor-sanding-machine-hero.png" alt="Floor Sanding Machine Hero" size="500x500"></Image>
    </SectionContainer>
</Section>

<Section height="sm">
    <SectionContainer direction="col" sectionFill="nofill">
        
    </SectionContainer>
</Section>
